*{
    margin:0;
    pading:0;

}
.header{
    min-height:  100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/guppy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:inline-block    ;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}

    

